body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
 
/* login start */
.login-outer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}
@media(max-width:900px){
    .login-outer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    } 
    .login-img img{
        height: 300px;
        width: auto;
    }
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.form-container input:focus{
    background-color: #fff;
  }
  
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #555;
}
/* lable floating */
.input-outer {
    position: relative;
  }
  .input-label {
    position: absolute;
    top: 22px; 
    left: 10px;
    color: #111;
    font-weight: 500;
    background-color: #fff;
    pointer-events: none; 
    transition: 0.2s ease-out; 
  }
.switch-form {
    text-align: center;
    margin-top: 10px;
}

.switch-form a {
    color: #333;
    text-decoration: none;
}
.error{
    color: red !important;
    padding: 0%;
    margin: 0%;
}
@media(max-width:380px){
    .form-container form {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 250px;
        margin-bottom: 20px;
    }
    
    .form-container input {
        width: 100%;
        padding: 8px;
        margin: 10px 0;
        box-sizing: border-box;
    }
}