body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* hero */
#hero{
  background-image: url(./assets/hr.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* #overlay{
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1;
} */

/* webnav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    padding-right: 6%;
    /* z-index: 33 !important; */
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 2em;
    list-style: none;
    font-weight: bolder;
    letter-spacing: 2px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
/* responsive nav */
.respnav {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    /* background-color: white; */
}
.respnav ul {
    display: flex;
    align-items: center;
}
.respnav .icons img {
    color: black;
    text-decoration: none;
    /* margin-left: 1em; */
}

@media(max-width:1120px) {
    nav{
        display: none;
    }
    .respnav{
        display: flex;
    }
}
@media(max-width:600px) {
    .respnav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3% 5%;
      /* background-color: white; */
  }
}

/* hero-sec-description */
.hero-sec-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  position: relative;
}
.heading1 {
  font-family: "Forum", serif;
  font-size: 5.5vmax;
  margin-bottom: 0%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 4px;
}

.tagline {
  font-family: "Forum", serif;
  font-size: 2.2vmax;
  margin-top: 0%;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.hero-sec-btn{
  width: 10em;
  height: 3em;
  background-color: transparent;
  border: 2px solid rgb(65, 62, 62);
  color: white !important;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 0.5em;
}
@media(max-width:400px) {
  .heading1 {
    font-family: "Forum", serif;
    font-size: 5.5vmax;
    text-align: center;
    padding: 0% 2%;
  }

  .tagline {
    font-family: "Forum", serif;
    font-size: 3.2vmax;
    font-weight: 400;
    text-align: center;
    padding: 0% 2%;
  }
}

/* second section */

#second {
    height: fit-content;
    width: 100%;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col .card {
    text-align: left;
    padding: 3% 1%;
    height: 25em !important;
    width: 18rem !important;
    transition: 0.6s;
    box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
  }

  
  @media(max-width:768px){
.col .card {
    text-align: left;
    padding: 3% 1%;
    height: 28em !important;
    width: 20rem !important;
    transition: 0.6s;
    box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
  }
  }
  @media(max-width:568px){
    .col .card {
        text-align: left;
        padding: 3% 1%;
        height: 25em !important;
        width: 18rem !important;
        transition: 0.6s;
        box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
      }
      }
  .col .card:hover {
    z-index: 9999;
    cursor: pointer;
  }
  
  .col img {
    height: 120px;
    width: auto;
    margin: 0% auto;
  }
  
  .col .card a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .col .card a:hover {
    text-decoration: underline !important;
    color: #0000ee;
  }
  
  .col .card h5 {
    color: rgba(0, 0, 0, 0.5);
  }
  .price-btn {
        margin-top: 1em;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .price-btn .addtocart {
    height: 2em;
    width: 7em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 45px;
    transition: 0.6s;
  }
  .price-btn .addtocart:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .view {
    height: 2.2em;
    width: 8em;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.7);
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 8px;
    transition: 0.6s;
    margin-bottom: 1em;
  }
  
  .view:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
  }
  
  #viewless {
    display: none;
  }




/* .explore-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.explore-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
} */

