body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* hero */
#hero {
  background-image: url(./assets/hr.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

#navigation {
  padding: 1% 2% !important;
  position: fixed !important;
  top: 0% !important;
  width: 100%;
  z-index: 3 !important;
  background-color: rgba(0, 0, 0, 0.644);
  transition: background-color 0.3s ease;
}
#hammenu{
  border: 2px solid #fff !important;
  background-color: #fff !important;
}
#navigation li a {
  color: #fff !important;
}
.form-control{
  color: #fff !important;
}
.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
.form-control::placeholder {
  color: #fff !important;
}
/* hero-sec-description */
.hero-sec-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 108vh;
  width: 100%;
  position: relative;
  z-index: 2;
}
.heading1 {
  font-family: "Forum", serif;
  font-size: 5.5vmax;
  margin-bottom: 0%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 4px;
}

.tagline {
  font-family: "Forum", serif;
  font-size: 2.2vmax;
  margin-top: 0%;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.hero-sec-btn {
  width: 10em;
  height: 3em;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.7);
  /* border: 2px solid black; */
  border: none;
  color: white !important;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 0.5em;
}
@media (max-width: 400px) {
  .heading1 {
    font-family: "Forum", serif;
    font-size: 5.5vmax;
    text-align: center;
    padding: 0% 2%;
  }

  .tagline {
    font-family: "Forum", serif;
    font-size: 3.2vmax;
    font-weight: 400;
    text-align: center;
    padding: 0% 2%;
  }
}

#overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  position: absolute;
  top: 0%;
  right: 0%;
}

/* second section */

#second {
  height: fit-content;
  width: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-align .product-card {
  text-align: left;
  padding: 3% 1%;
  height: 25em !important;
  width: 18rem !important;
  transition: 0.6s;
  box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
}

@media (max-width: 768px) {
  .col-align .product-card {
    text-align: left;
    padding: 3% 1%;
    height: 28em !important;
    width: 20rem !important;
    transition: 0.6s;
    box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
  }
}
@media (max-width: 568px) {
  .col-align .product-card {
    text-align: left;
    padding: 3% 1%;
    height: 25em !important;
    width: 18rem !important;
    transition: 0.6s;
    box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
  }
}

.col-align .product-img {
  height: 120px;
  width: auto;
  margin: 0% auto;
}

.col-align .card a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.col-align .card a:hover {
  text-decoration: underline !important;
  color: #0000ee;
}

.col-align .card h5 {
  color: rgba(0, 0, 0, 0.7);
}
.price-btn {
  margin-top: 1em;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.price-btn .addtocart {
  height: 2em;
  width: 7em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  border-radius: 45px;
  transition: 0.6s;
}
.price-btn .addtocart:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.view {
  height: 2.2em;
  width: 8em;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.7);
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: 0.6s;
  margin-bottom: 1em;
  margin-top: 1em;
}

.view:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
}

#viewless {
  display: none;
}
#viewless-2 {
  display: none;
}

/* cards section */
#card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.cardimg {
  height: 10em;
  width: 10em;
  /* border: 5px solid #ffbe33; */
  border-radius: 80%;
  overflow: hidden;
  margin: 0% auto;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* object-fit: cover; */
  /* object-position: center !important; */
}
img {
  transition: 0.3s;
}
.card:hover img {
  transform: scale(1.1);
}
.explore-btn {
  height: 2em;
  width: 7em;
  font-size: 1.2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 45px;
}

.explore-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1115px) {
  #offercard {
    text-align: center;
  }
}
@media (max-width: 780px) {
  #card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
  }
}

/* Contact */
.contact {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.contact h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.contact form {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid gray;
}
textarea {
  height: 10em;
}
.contact button {
  padding: 10px 25px;
  font-size: 1.2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.contact button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* footer */
.footer{
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
}
.footer a {
  color: #fff !important;
}
.footer div{
  color: #fff !important;
}

/* splash screen */
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 999;
  background-color: black;
}
.logoinner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden !important;
  width: fit-content !important;
}
.logoinner h1{
  color: #fff;
  font-size: 4em;
  font-style: oblique;
}



/* ad css */

/* .addouter{
  display: none;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}
h3{
  text-align: center;
  margin: 0%;
  font-size: 1.5rem;
   color: black;
}
.add{
  height: 30em;
  width: 20em;
  border: 2px solid white;
  object-fit: cover;
  object-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 55px 0px rgba(128, 128, 128, 0.546);
  border-radius: 45px;
  background-color: #fff;
}

.btns{
  display: flex;
  justify-content: space-between !important;
  margin-top: 0.8em;
  gap: 1em;
}
.btn{
  height: 3.2em;
  width: 8em;
  border-radius: 45px;
  border: none;
   font-weight: bolder;
}
.btn:nth-child(1){
  background-color: rgba(0, 113, 252, 0.726);
  color: #fff;
}
.btn:nth-child(2){
  background-color: rgb(0, 113, 252);
  color: #fff;
}
@media(max-width:370px){
  .add{
      height: 30em;
      width: 18em;
      border: 2px solid white;
      object-fit: cover;
      object-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 55px 0px rgba(128, 128, 128, 0.546);
      border-radius: 45px;
      background-color: #fff;
  }
  .btns{
      display: flex;
      justify-content: space-between !important;
      margin-top: 0.8em;
      gap: 1em;
  }
} */