*body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* hero */
#hero {
  background-image: url(./assets/hero.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
@media(max-width:912px){
  #hero {
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
  }
}
#navigation {
  padding: 10px 10px !important;
  position: fixed !important;
  top: 0px !important;
  width: 100%;
  z-index: 3 !important;
  background-color: rgba(0, 0, 0, 0.644);
  transition: background-color 0.3s ease;
}
#hammenu{
  border: 2px solid #fff !important;
  background-color: #fff !important;
}
#navigation li a {
  color: #fff !important;
}
.form-control{
  color: #fff !important;
}
.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
.form-control::placeholder {
  color: #fff !important;
}
/* hero-sec-description */
.hero-sec-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 115vh;
  width: 100%;
  position: relative;
  z-index: 2;
}
.heading1 {
  font-family: "Forum", serif;
  font-size: 5.5vmax;
  margin-bottom: 0%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 4px;
}

.tagline {
  font-family: "Forum", serif;
  font-size: 2.2vmax;
  margin-top: 0%;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.hero-sec-btn {
  width: 10em;
  height: 3em;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.7);
  /* border: 2px solid black; */
  border: none;
  color: white !important;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 0.5em;
}
@media (max-width: 400px) {
  .heading1 {
    font-family: "Forum", serif;
    font-size: 5.5vmax;
    text-align: center;
    padding: 0% 2%;
  }

  .tagline {
    font-family: "Forum", serif;
    font-size: 3.2vmax;
    font-weight: 400;
    text-align: center;
    padding: 0% 2%;
  }
}

#overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  position: absolute;
  top: 0%;
  right: 0%;
}

/* service */

#company-services{
  margin-top: 5em;
  margin-bottom: 0%;
  /* align-content: center !important; */
}
.icon-box-icon i{
 font-size: 2.5rem;
 color: transparent;
 -webkit-text-stroke: 1px #0000ee;
}
.icon-box-content h3{
 font-size: 1.3rem;
 font-weight: bold;
}
.icon-box-content p{
   color: gray;
}



/* second section */

#second {
  height: fit-content;
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-align .product-card {
  text-align: left;
  padding: 3% 1%;
  height: 25em !important;
  width: 18rem !important;
  transition: 0.6s;
  box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
}

@media (max-width: 768px) {
  .col-align .product-card {
    text-align: left;
    padding: 3% 1%;
    height: 28em !important;
    width: 20rem !important;
    transition: 0.6s;
    box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
  }
}
@media (max-width: 568px) {
  .col-align .product-card {
    text-align: left;
    padding: 3% 1%;
    height: 25em !important;
    width: 17.5rem !important;
    transition: 0.6s;
    box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
  }
}

.col-align .product-img {
  height: 120px;
  width: auto;
  margin: 0% auto;
}

.col-align .card a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.col-align .card a:hover {
  text-decoration: underline !important;
  color: #0000ee;
}

.col-align .card h5 {
  color: rgba(0, 0, 0, 0.7);
}
.price-btn {
  margin-top: 1em;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.price-btn .addtocart {
  height: 2em;
  width: 7em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  border-radius: 45px;
  transition: 0.6s;
}
.price-btn .addtocart:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.view {
  height: 2.2em;
  width: 8em;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.7);
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: 0.6s;
  margin-bottom: 1em;
  margin-top: 1em;
}

.view:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
}

#viewless {
  display: none;
}
#viewless-2 {
  display: none;
}

/* subscribe */
#subscribe {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subscribe-bg {
  position: relative !important;
  height: 50vh;
  width: 100%;
  background-image: url("/assets/subscribe.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  z-index: 2 !important;
}

#subscribe-bg h2 {
  font-size: 2.8rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}

#subscribe-bg p {
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
#subscribe-bg form{
  display: flex;
  justify-content: center;
  align-items: center;
}
#subscribe-bg input {
  height: 2.9em;
  width: 30em;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding-left: 8px;
}
#subscribe-bg input::placeholder{
  color: #fff !important;
}
#subscribe-bg button {
  background-color: rgba(8, 8, 8, 0.568);
  height: 2.9em;
  width: 6em;
  text-decoration: none;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  gap: 1px;
  transition: 0.3s;
}

#subscribe-bg button:hover {
  background-color: #00000073;
}

@media(max-width:760px){
  #subscribe-bg h2 {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: #fff;
  }
  
  #subscribe-bg p {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
}
@media(max-width:665px){
  #subscribe-bg h2 {
    font-size: 2.2rem;
    font-weight: bold;
    font-style: italic;
    color: #fff;
  }
  
  #subscribe-bg p {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0px;
  }
  #subscribe-bg form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  #subscribe-bg button {
    background-color: rgba(8, 8, 8, 0.568);
    height: 2.9em;
    width: 30em;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    gap: 1px;
    transition: 0.3s;
  }
}
@media(max-width:530px){
  #subscribe-bg h2 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: #fff;
  }
  #subscribe-bg input {
    height: 2.9em;
    width: 16em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 8px;
  }
  #subscribe-bg input::placeholder{
    color: #fff !important;
  }
  #subscribe-bg button {
    background-color: rgba(8, 8, 8, 0.568);
    height: 2.9em;
    width: 16em;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    gap: 1px;
    transition: 0.3s;
  }
}

#subscribe-overlay {
  height: 100%;
  width: 100%;
  position: absolute !important;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: -1;
}

/* review */

#review {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important ;
  align-items: center !important;
  gap: 2em;
  margin-top: 1em;
  margin-bottom: 0%;
  /* background-color: black; */
}

#review h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  color: #111;
}

#review button {
  height: 2.5em;
  width: 10em;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.7);
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: 0.6s;
  font-weight: bold !important;
}

#review button:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
}

.wrapper {
  /* max-width: 1100px; */
  width: 80%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  /* background-color: orange; */
  background-color: #fff;
  z-index: 2 !important;
  color: #111;
  font-weight: bold;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 5px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card-r {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card-r, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card-r {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background-color: #111;
  cursor: pointer;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center !important;
  padding: 0% 4px;

}

.carousel .card-r .img {
  /* background: #8B53FF; */
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card-r .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card-r h3 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  color: #fff;
}

.carousel .card-r p {
  color: #fff;
  font-size: 1.1rem;
}


@media screen and (max-width: 1115px) {
  .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 0px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
      grid-auto-columns: 120%;
  }
}



/* REVIEW FORM */
.review-form {
  /* padding: 50px 0; */
  /* background-color: #111; */
  text-align: center;
  margin: 0%;
}

.form-anim {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.966);
  position: fixed;
  top: -500%;
  z-index: 999 !important;
}

.cross {
  background-color: #fff;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 40px;
  margin: 0% auto;
  align-content: center;
}

.cross i {
  font-size: 1rem;
  font-weight: bold;
  color: #111;
}
.form-anim h2 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.form-anim form {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.form-anim input,
.form-anim textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  background-color: #fff;
  border-radius: 8px;
}

.form-anim textarea {
  height: 10em;
}

.form-anim button {
  height: 2.5em;
  width: 10em;
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: 0.6s;
  font-weight: bold !important;
  color: #fff;
}


/* contact */

.contact-section {
  position: relative !important;
  height: 100vh;
  width: 100%;
  background-image: url("/assets/contact.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#contact-overlay {
  height: 100vh;
  width: 100%;
  position: absolute !important;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.253);
}

.contact-section h2 {
  font-size: 2.5rem;
  font-weight: 1000;
  font-style: oblique;
  color: transparent;
  margin-bottom: 20px;
  -webkit-text-stroke: 2px #fff;
}

.contact-form {
  padding-left: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100%;
  z-index: 2 !important;
  transition: 0.6s ease-in-out;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  width: 30em;
  gap: 1em;
}

.contact-form form input,
.contact-form form textarea {
  padding: 15px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  border: none !important;
  outline: none !important;
}

.contact-form form button {
  height: 2.5em;
  width: 8em;
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: 0.6s;
  font-weight: bold !important;
  color: #fff;
}

@media(max-width:630px) {
  .contact-section {
      position: relative !important;
      height: 100vh;
      width: 100%;
      background-image: url("/assets/contact.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      justify-content: start;
  }

  .contact-form {
      padding-left: 0px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      z-index: 2 !important;
  }

  .contact-form form {
      display: flex;
      flex-direction: column;
      width: 25em;
      gap: 1em;
  }

}

@media(max-width:490px) {
  .contact-form {
      padding-left: 0px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      z-index: 2 !important;
  }

  .contact-form form {
      display: flex;
      flex-direction: column;
      width: 17em;
      gap: 1em;
  }

}



/* footer */
.footer{
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
}
.footer a {
  color: #fff !important;
}
.footer div{
  color: #fff !important;
}





/* loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0%;
  z-index: 999;
}

.loader {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 50%, 100% {
    opacity: 0.3;
  }
 25%, 75% {
      opacity: 1;
    }
  }


  /* Advertisement */

  #ad-bodyy {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000; /* Ensure it is on top */
  }

  .containerr {
    border: 2px solid white;
    max-width: 70%;
    width: 100%;
    max-height: 90%;
    height: auto;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    display: none;
    background: #44A08D;
    background: -webkit-linear-gradient(to right, #093637, #44A08D);
    background: linear-gradient(to right, #093637, #44A08D);
  }

  .headerr {
    text-align: center;
    padding-bottom: 20px;
    color: white;
                font-weight: bold;
                font-style: italic;
  }

  .advertisement {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .advertisement img,
  .advertisement video {
    max-width: 45%;
    height: auto;
    margin-bottom: 20px;
  }

  .text-content {
    flex: 1;
    padding: 20px;
    text-align: center;

  }

  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
  }

  @media screen and (max-width: 600px) {
    .advertisement {
      flex-direction: column;
      text-align: center;
    }

    .advertisement img,
    .advertisement video {
      max-width: 100%;
    }

    .text-content {
      padding: 20px 0;
    }

    .containerr {
      max-width: 80%;
  }
  }


  @media screen and (max-width: 800px) {
    .advertisement {
      flex-direction: column;
      text-align: center;
    }

    .advertisement img,
    .advertisement video {
      max-width: 100%;
    }

    .text-content {
      padding: 20px 0;
    }}
